header h1
{
    background-color: red;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}
.Bradesco
{
    background-color: grey;
    text-align: center;
    color: black;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10%;

}
.Bradesco h2
{
    background-color: rgb(184, 166, 166);
    text-decoration: nome;
    border-radius: 5px;
    transition: backgrond-color 0.5s;
    border-radius: 50;
}
.Bradesco p
{
    background-color:red;
    color:black;
    padding: 10px 15px;
    border-radius: 30px;

}

footer
{
    position: fixed; /*ralative*/
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgb(23, 23, 24);
    color: aliceblue;
    text-align: center;
}   
