.caixa1 {
        
    background-color: aqua;/* cor clara visualização*/
    margin: 50px;/* criar espaçamento de 20px em todos os lados*/
    padding: 10px;/* Margim da bBrda */
    border: 10px solid burlywood;
    border-radius: 40px; /* borda circula*/
    width: 200px;
    margin-bottom: 10px;
    display: block;
    background-color: aqua;
    margin-bottom: 100;

                }

        .caixa2{
    background-color: blueviolet;
    margin-top: 50px; /*Cima*/
    margin-right: 51px; /*Direita */
    margin-bottom: 15px; /*Baixo */
    margin-left: 50px; /*Esquerda */
    padding: 20px;/* centro da Borda */ 
    border: 2px dashed greenyellow; /* Borda tracejada*/
    border-radius: 20px; /* borda circula*/
    display: inline;
    background-color: blueviolet;
    margin-bottom: 10; 
        }

.caixa3{
    background-color: aqua;/* cor clara visualização*/
    margin: 45px;/* criar espaçamento de 20px em todos os lados*/
    padding: 30px;/* Margim da bBrda */
    border: 20px solid burlywood;
    border-radius: 40px; /* borda circula*/
    width: 600px; /*Largura*/
    margin-bottom: 10px;
    display: block;
    background-color: aqua;
    margin-bottom: 100;
    height: 80px; /*Comprimento*/
    background-color: aliceblue;
    margin-bottom: 10px;
    overflow: scroll;
}
